@use './functions' as *;

$laptop: 1440;
$tablet: 1280;
$mobile: 768;

@mixin laptop {
  @media (width <= toRem($laptop)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= toRem($tablet)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= toRem($mobile)) {
    @content;
  }
}
