@use '@/styles/helpers' as *;

.paginate {
  @include flex(center);
  padding: 25px 0;
  gap: 20px;

  &__pages {
    @include flex(center);
    gap: 5px;

    &__page {
      background-color: var(--bg-color);
      padding: 1px 10px;
      color: var(--heading-color);
      border-bottom: 1px solid var(--bg-color);

      &--active {
        border-radius: 5px;
        background-color: var(--secondary-color);
        border-bottom: 1px solid var(--secondary-color);
      }

      &:hover {
        border-bottom: 1px solid var(--placeholder-color);
      }
    }
  }

  &__arrow--left {
    transform: scale(-1);
  }
}
