@font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("@/assets/fonts/CormorantSC.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
