@use '@/styles/helpers' as *;

* {
  transition: 0.2s all ease-in-out;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family-base);
  margin: 0 100px;

  @include tablet {
    margin: 0 20px;
  }
}
