@use '@/styles/helpers' as *;

.button__switch {
  @include square(40px);
  @include flex(center, center);

  border-radius: 100%;
  background-color: var(--secondary-color);
  transition: 0.3s background-color ease-in-out;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}
