@use '@/styles/helpers' as *;

.paintings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
